<template>
    <lightning-card title={title} icon-name="standard:record">
        <div class="slds-var-m-around_medium">
            <lightning-input label="Case Subject" onchange={handleChange} class="slds-var-m-bottom_x-small"></lightning-input>
            <lightning-input label="Case Description" onchange={handleChange} class="slds-var-m-bottom_x-small"></lightning-input>
            <lightning-button label={buttonlabel} variant="brand" onclick={submitCase}></lightning-button>
        </div>
    </lightning-card>
</template>