<template>
    <lightning-button label={buttonlabel} variant="brand" onclick={handleClick}></lightning-button>

    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <!-- <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Modal/PopUp Box header LWC</h2> -->
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    
                    <lightning-combobox
                        name="topicSelect" label="Post To"
                        value={selectedTopic} options={topicOptions}
                        required onchange={handleSelectTopic}>
                    </lightning-combobox>
                    <lightning-textarea name="questionTitle"
                                    label="Question (Enter up to 255 characters)"
                                    placeholder="What would you like to know?"
                                    max-length="255" required
                                    onblur={handleFormInputChange}
                                    class="slds-var-p-top_large">
                    </lightning-textarea>

                    <lightning-accordion class="example-accordion"
                         onsectiontoggle={handleToggleSection}
                         allow-multiple-sections-open>

                         <lightning-accordion-section name="details" label="Details">
                            <lightning-input-rich-text onblur={handleRichTextUpdate}
                                                        variant="bottom-toolbar" formats={enabledFormats}
                                                        placeholder="If you have more to say, add details here ..."
                                                        class="slds-var-p-top_large">
                            </lightning-input-rich-text>

                            <lightning-file-upload
                                label="Attach files"
                                name="fileUploader"
                                onuploadfinished={handleUploadFinish}
                                multiple
                                class="slds-var-p-top_small">
                            </lightning-file-upload>
                            
                            <template if:true={uploadedFiles}>
                                <lightning-layout  class="slds-var-p-top_small">
                                    <template for:each={uploadedFiles} for:item="eachFile">
                                        <lightning-layout-item key={eachFile.documentId} size="6">
                                            <c-file-upload-pill
                                                file-name={eachFile.name}
                                                document-id={eachFile.documentId}
                                                onremoveclick={handleRemoveFile}>
                                            </c-file-upload-pill>
                                        </lightning-layout-item>
                                    </template>
                                </lightning-layout>

                            </template>
                         </lightning-accordion-section>


                    </lightning-accordion>



                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="Ask">Ask</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>