<template>
    <lightning-pill label={fileName} onclick={handleClick} onremove={handleRemoveOnly}>
        <lightning-icon icon-name="doctype:attachment" alternative-text={fileName}></lightning-icon>
    </lightning-pill>
</template>